<main>
    <h1>
        <%= name %>
    </h1>
    <div id="info">
        <% for(const infoName in info) {%>
            <h1>
                <%= infoName %>
            </h1>
            <h3>
                <%= info[infoName] %>
            </h3>
            <% }%>
    </div>
    <div class="form" id="updateInfo">
        <form class="form" action="/users/<%= name %>" method="post">
            <button type="submit" name="delete" value="true">Delete Account</button>
            <% if(info && Object.keys(info).length){ for(const infoName in info){%>
                <h1>
                    <%= infoName %>
                </h1>
                <input type="text" name="<%=infoName %>" value="<%=info[infoName]%>" />
                <h1 id="addInfo">+</h1>
                <%}%>
                    <% } else{ %>
                        <input type=" text" name="newInfo" placeholder="Entry Name" />
                        <input type="text" name="newInfo" placeholder="Entry info" />
                        <button type="submit">Submit</button>
                        <% } %>
        </form>
    </div>
    <button id="writeInfo">Update Info</button>
</main>
<script src="js/updateInfo.js"></script>